
/* a, p, li,summary,span{
  font-size: 20px;
} */
html {
  font-size: 16px; /* Standard browser default is usually 16px */
}

.link{
  color: rgb(42, 219, 174);
  text-decoration: none;
  font-size: 20px; 
  /* text-decoration: underline;
  text-decoration-color: green; */
 }
body {
    background-color: rgb(0, 0, 0);
    margin-left: 9%;
    margin-right: 9%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #3a3737;
  }



  body {
    padding-bottom: 300px; /* Adjust the pixel (px) value to change the spacing height */
  }
